table {
    width: 100%;
    }

td:first-child {
             width: 20%;
             }

             td:first-child + td {
             width: 60%;
             }

             td:first-child + td + td {
             width: 20%;
              }
